<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTaS - Bible Number Search</title>
    
  <style>   
  </style>
</head>
<body>
    
    <div>
        <div>
          <div>
            <div>
                <nav>
                    <a href="https://don-gray.com">Don's Thoughts and Stuff - Bible Verse Number Search</a>
                    <button>
                      <span></span>
                    </button>
                    <div>
                      <ul>
                        <li>
                          <a href="https://don-gray.com">Home</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
            </div>
          </div>
        </div>
    </div>

    <!--Two Columns-->
    
    <div>
        <div class="row">
          <div>
            <div>
              <h2>Bible Verse Number Search</h2>
              <p>Enter
                a number between 2 and 6, inclusive. Bible Number Search will
                find every combination of Bible Verses that match all or part of
                your number then print them onscreen for you. Currently we are
                limited to the King James Version but in the future we will try
                to increase the options.</p>
            </div>
          </div>
          <div>
            <div>
                <p><img src="{{ url_for('static', filename='bible.jpg') }}" alt="Bible" style="float: left; padding-right: 5px; max-width: 100%; height: auto;"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
	
	<!-- Spacer -->
    <div></div>

	<!-- Form -->
    <div class="justify-content-center">
        <form action="/submit" method="POST">
          <div class="form-group">
            <label for="myNumber">Enter Number (2 to 6 digits):</label>
            <input type="text" class="form-control" id="myNumber" name="my_number" pattern="[0-9]{2,6}" required oninvalid="this.setCustomValidity('Please enter a number between 2 and 6 digits')" oninput="this.setCustomValidity('')">
          </div>
          <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
        </form>
    </div>
    <div style="margin-left: 50px;">
		<h1 id="results-header" style="display:none;">Results</h1>
	</div>
    <div id="result"></div>
	
	<!-- Spacer -->
    <div class="mb-3"></div>
	
	<footer>
	  <div>
		<div>
		  <div>
			<div>
			  <p class="text-center">Copyright © 2023 Don's Thoughts and Stuff - Bible Verse Number Search</p>
			</div>
		  </div>
		</div>
	  </div>
	</footer>

    <script>
    const form = document.querySelector('form');
    const resultDiv = document.querySelector('#result');

    form.addEventListener('submit', event => {
        event.preventDefault();
        const formData = new FormData(form);
        fetch('/submit', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(result => {
            let html = '';
            for (const item of result) {
                html += `<p>${item}</p>`;
            }
            resultDiv.innerHTML = html;
        });
    });
    </script>
	<script>
		const submitButton = document.getElementById('submit-button');
		const resultsHeader = document.getElementById('results-header');

		submitButton.addEventListener('click', () => {
			resultsHeader.style.display = 'block';
		});
</script>
</body>
</html>

